@import '~antd/dist/antd.css';

.flex-end{
    display: flex;
    justify-content: flex-end;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-top{
    margin-bottom: 20px;
}
.required{
    color: red
}