.maincontent-container{
    border: solid black 0.5px;
    width: 87%;
    background-color: #F7F9FC;
}

.maincontent-chart-container{
    height: 15%;
}

.instruction-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.instruction-icon{
    cursor: pointer;
}